section{
    display: flex;
    border: 1px dashed black;
}

div{
    
    text-align: center;
    font-size: 40px;
    color: white;
    border: 2px solid black;
    margin: 10px;
}

div:nth-child(1){
    background: yellowgreen;
}
div:nth-child(2){
    background: violet;
}
div:nth-child(3){
    background: cornflowerblue;
}
div:nth-child(4){
    background: tomato;
}
div:nth-child(5){
    background: tan;
}
div:nth-child(6){
    background: orange;
}